<li>
	{{name}}

	<button type="button" class="devoured btn btn-primary" id="devouredBtn" data-id="{{id}}" data-newDevoured="{{devoured}}"><span class="fa fa-cutlery"></span>
		{{#unless devoured}} DEVOUR!{{/unless}}
		{{!-- {{#if devour}}SLEEP TIME!{{else}}WAKE UP!{{/if}} --}}
	</button>

	<button type="button" class="delete-burger btn btn-danger" id="delete-burger" data-id="{{this.id}}"><span class="fa fa-trash"></span> Delete Burger</button>
	</li>


{{!-- <button class="delete-burger" data-id="{{this.id}}">Delete Burger</button> --}}


{{!-- <button type="button" class="delete-burger btn btn-danger" id="delete-burger" data-id="{{this.id}}" data-newDevoured="{{devoured}}"><span class="fa fa-trash"></span>
		{{#if devoured}}Delete!{{/if}}
	</button> --}}
